{{#*inline "page"}}
<section>
    <p class="description">Мощное программное обеспечение для вашего сервера. Интуитивный интерфейс, высокая
        производительность, надежность и безопасность. Поддержка экспертов. Обеспечьте успех своего бизнеса с нами!</p>
</section>
<div class="search-container">
    <form action="/" method="GET">
        <input type="search" name="q" placeholder="Поиск" value="{{search_q}}">
        <button type="submit">Найти</button>
    </form>
</div>
<section class="software-layout">
    {{#each software_list}}
    <div class="software-card">
        <img class="software-logo" src="{{logo}}" />
        <h3 class="software-name">{{name}}</h3>
        <p class="software-description">{{description}}</p>
        <p class="software-version">Версия: {{version}}</p>
        <ul class="software-tags">
            {{#each tags}}<li>{{name}}</li>{{/each}}
        </ul>
        <a href="/soft/{{id}}">Подробнее</a>
        </hr>
            <input type="hidden" name="soft_id" id="soft_id" value="{{id}}">
            <input type="submit" class="button" value="Удалить">
        </form>
        <script>
        function deleteSoft(event) {
            event.preventDefault(); // Prevent the default form submission
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/delete_soft/", true); // todo
        }
        </script>
    </div>
    {{/each}}
</section>
{{/inline}}
{{> (lookup this "parent")}}